body {
    display: grid;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    width: 100%;
    grid-template-columns: 1.3fr 1fr;
    font-family: "Outfit", sans-serif;
    font-size: 1.5em;
    background-color: var(--secondary-color);
    color: var(--complimentary-color);
    transition: background-color 0.5s ease, color 0.5s ease;
    user-select: none;
    text-align: center;
}

:root {
    --primary-color: #F12630;
    --secondary-color: #F4F4ED;
    --complimentary-color: black;
    --bg-image: url("./Assets/light.jpg");
    touch-action: pan-x pan-y;
    height: 100%;
    /* --captcha-bg-color:#F4F4ED; */
}

.dark-theme {
    --primary-color: #FFD04D;
    --secondary-color: #181817;
    --complimentary-color: white;
    --bg-image: url("./Assets/dark.jpg");

}

.bg-img {
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 90%;
}

.outer-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#icon {
    z-index: 3;
    height: 45px;
    cursor: pointer;
    position: fixed;
    right: 30px;
    top: 30px;
}


.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.inputs {
    width: 85%;
    height: 50px;
    border: none;
    color: var(--complimentary-color);
    background-color: transparent;
    border-bottom: 2px solid var(--complimentary-color);
    padding-top: 30px;
    font-family: "Outfit", sans-serif;
    border-radius: 0px;
    padding-top: 40px !important;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.input-boxes {
    display: flex;
    justify-content: center;
}

.under-password {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.btn2 {
    margin-top: 30px;
    border: 2px solid var(--primary-color);
    font-family: "Outfit", sans-serif;
    font-size: 1.2rem;
    border-radius: 0px;
    width: 85% !important;
    margin-bottom: 30px;
    color: var(--primary-color);
    background-color: transparent;
}

.btn:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.btn2:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.btn2:active {
    background-color: var(--primary-color) !important;
    border: 2px solid var(--primary-color) !important;
}

.inputs:focus {
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid var(--complimentary-color);
    color: var(--complimentary-color);
    box-shadow: none;
    
}

.input::placeholder {
    top: 0px !important;
}

#logo {
    height: 90px;
    width: 180px;
    display: inline;
    margin: 20px;
    margin-bottom: 50px;
}

.form-control {
    padding-top: 80px !important;
}

.input-boxes {
    margin-top: 20px;
}

input,
textarea {
    font-size: 1.5em !important;
}

label {
    top: 30px !important;
    left: 30px !important;
}

input:focus+label {
    transform: translateY(-30px) !important;
}

.checkbox-label {
    display: inline;
    pointer-events: none;
    margin: 0;
    padding: 2px;
}

.checkbox-input {
    height: 23px;
    width: 25px;
    box-shadow: none;
    cursor: pointer;
    border: 1.5px solid black !important;
    box-shadow: none !important;
}

.form-check input {
    background-color: transparent !important;
}

input:checked {
    background-color: var(--primary-color) !important;
    outline: none !important;
    border: none !important;
}

.has-content+label {
    transform: translateY(-30px);
    font-size: 12px;
}


/* designing for the google recaptcha */

.g-recaptcha {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    border-radius: 20px;
    padding: 15px;
}

/* google recaptcha ends here */


/* this is the styling for the customizable captcha--------------------------------------------------------------------- */

/* .captcha-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin: 20px 0;
}

.captcha-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#captchaCanvas {
    border: 1px solid var(--complimentary-color);
    background-color: transparent;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.reload-btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px; 
    border-radius: 5px;
}

#captchaInput {
    width: 78%;
    margin-top: 10px;
    font-size: 1.2rem; 
    padding: 20px !important;
}

.error-message {
    color: var(--primary-color);
    font-size: 1rem;
    margin-top: 5px;
}
#captchaInput::placeholder{
    font-size: 1em;
    color: var(--complimentary-color);
    font-weight: 1;
} */

/* the customizable captcha styling ends here---------------------------------------------------------------------------- */

@media (max-width: 1200px) {
    body {
        grid-template-columns: 1fr 1fr;
    }

    label {
        left: 45px !important;
    }

    .inputs {
        width: 80%;
    }

    #icon {
        height: 40px;
    }

    #logo {
        height: 80px;
        width: 160px;
    }

    .btn2 {
        width: 80%;
    }
}

@media (max-width: 992px) {
    #logo {
        height: 75;
        width: 150;
    }

    body {
        grid-template-columns: 1fr 1fr;
        font-size: 1em;
    }


    h1 {
        font-size: 1.5em;
    }

    .inputs {
        width: 90%;
    }

    #icon {
        height: 35px;
    }

    .btn2 {
        width: 90%;
    }

    label {
        top: 45px !important;
        left: 10px !important;
    }

    .checkbox-label {
        position: relative;
        top: 5px !important;
        left: 2px !important;
    }
}

@media (max-width: 768px) {

    .inputs:focus {
        border: none;
        border-bottom: 2px solid black;
        outline: none;
        background-color: transparent;
        border-bottom: 2px solid var(--complimentary-color);
        color: var(--complimentary-color);
        border-bottom: 2px solid var(--primary-color);
        box-shadow: none;
        transition: border-bottom 0.3s ease-in-out;
    }
    body {
        display: block;
        height: 100%;
        width: 100%;
        font-size: 1em;
    }

    h1 {
        display: none;
    }

    .outer-box {
        top: 50px;
        position: relative;
        overflow: hidden;
        z-index: 1;

    }

    #icon {
        height: 30px;
        top: 5px;
        right: 5px;
    }

    #logo {
        height: 50px;
        width: 100px;
    }

    label {
        top: 40px !important;

    }

    .checkbox-label {
        position: relative;
        top: 5px !important;
        left: 2px !important;
    }

    .bg-img {
        position: absolute;
        overflow: auto;
        z-index: -2;
        height: 100%;
        width: 100%;
    }

    .outer-box {
        display: block;
        position: relative;
        z-index: 1;
        padding: 1em;
    }

    .inner-box {
        position: relative;
        /* padding: 20px; */
        background-color: transparent;
        border-radius: 10px;
        z-index: 1;
    }

    .inner-box::before {
        content: "";
        position: absolute;
        top: -2;
        left: 10%;
        width: 80%;
        height: 100%;
        background-color: var(--secondary-color);
        opacity: 50%;
        border-radius: 10px;
        z-index: -1;
    }
}

@media (max-width: 576px) {
    .inner-box::before {
        content: "";
        position: absolute;
        top: 0;
        left: 5%;
        width: 90%;
        height: 100%;
        background-color: var(--secondary-color);
        opacity: 50%;
        border-radius: 10px;
        z-index: -1;
    }
}
@media (max-width: 456px){
    .inner-box::before {
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity:50%;
    }
        
}