@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Outfit', sans-serif;
}
body, html {
    scroll-behavior: smooth;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #020410;
    scroll-snap-type: y mandatory; /* Vertical scrolling with snap */
}


/* ****************Navigation Bar styling****************** */


.nav_bar{
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    position: absolute;
    /* top: 0;
    left: 0; */
    margin: 0px auto;
    z-index: 10000;
}
.nav_bar .logo{
    margin-left: 30px;
}
.nav_bar .nav_links .nav_list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    /* gap: 1rem; */
}
.nav_bar .nav_links .nav_list li{
    list-style: none;
    margin: 0 20px;
}
.nav_bar .nav_links .nav_list li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
}
.nav_bar .nav_links ul li a:hover{
    color: rgb(236, 24, 67);
}
.hero_section{
    width: 100%;
    height: 52vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.662), rgba(0, 0, 0, 0.113)), url(../hero.jpg);
    background-size: cover;
    background-position: center;
}
.nav_bar .menu{
    display: none;
}
.nav_bar .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_bar .buttons .signin{
    margin-right: 10px;
}
.nav_bar .buttons .signup{
    margin-left: 10px;
}
.nav_bar .signin{
    background-color: white;
    border: none;
    padding: 11px 35px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #F12630;
    color: rgb(255, 255, 255);
    transition: ease-in-out 0.2s;
}
.nav_bar .buttons .signin a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    /* font-size: 16px; */
    transition: ease-in-out 0.2s;
}
.nav_bar .signin:hover{
    background-color: #ffffff;
    color: #F12630;
    /* font-weight: 700; */
    transform: scale(1.05);
}
.nav_bar .buttons .signup a:hover{
    color: #F12630;
}
.nav_bar .signup{
    background-color: white;
    border: 2px solid #FFD04D;
    padding: 9px 28px;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(8, 8, 8);
    color: rgb(255, 255, 255);
    transition: ease-in-out 0.2s;
}
.nav_bar .signup:hover{
    background-color: #FFD04D;
    color: rgb(8, 8, 8);
    /* font-weight: 700; */
    transform: scale(1.05);
}
.nav_bar .menu{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    display: none;
}


section {
    height: 100vh;
    width: 100%;
    position: relative;
    /* scroll-snap-align: start; */
}

/* ---First section------ */

.sec1 {
    position: relative;
    z-index: 2; /* Make sure content is above the background */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background-color: transparent;/* Background color for the section */
    scroll-snap-align: start;
}

.parallax {
    background: url('Assets/su11.png') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    height: 100vh;
    z-index: 1;
    background-attachment: fixed;
}

.sec1 .left-item,
.sec1 .right-item {
    width: calc(50% - 20px); /* Equal width with 20px space between the items */
    height: auto;
    padding: 20px;
    position: fixed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for better appearance */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers the content vertically */
    background: transparent;
    transition: transform 0.3s, box-shadow 0.3s;
    top: 50%;
    transform: translateY(-50%);
}

.sec1 .left-item {
    left: 0; /* Align the left item to the left edge */
    z-index: 1; /* Ensure it appears above the background */
    padding-left: 5%; /* Add space between the left edge and content */
    align-items: flex-start; /* Aligns content on the left */
}


.sec1 .left-item h1 {
    font-size: 3em;
    color: #ffffff; /* Bright color for contrast */
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    padding: 10px 10px;
}

.sec1 .left-item a {
    display: inline-block;
    font-size: 18px;
    color: #ffffff;
    background-color: #e7063e;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 50px; /* Rounded button */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Shadow for depth */
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.sec1 .left-item a:hover {
    background-color: #ff275d;

    transform: scale(1.05);
}

.sec1 .left-item a:active {
    background-color: #cc7a00;
    transform: scale(0.98); /* Slightly shrink on click */
}

.left-item p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    color: #fff;
}



/* -----2nd Section-------------- */

.sec2 {
    overflow: hidden;
    background: linear-gradient(135deg, #002f5f, #000000);
    height: 110vh;
    background-size: cover;
    z-index: 3;
    scroll-snap-align: start;
  }
  
  .carousel {
    position: relative;
    z-index: 1;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
  }
  
  .carousel-item {
    --items: 10;
    --width: clamp(200px, 40vw, 400px);
    --height: clamp(250px, 50vw, 500px);
    --x: calc(var(--active) * 800%);
    --y: calc(var(--active) * 200%);
    --rot: calc(var(--active) * 120deg);
    --opacity: calc(var(--zIndex) / var(--items) * 3 - 2);
    overflow: hidden;
    position: absolute;
    z-index: var(--zIndex);
    width: var(--width);
    height: var(--height);
    margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    user-select: none;
    transform-origin: 0% 100%;
    box-shadow: 0 10px 50px 10px rgba(0, 0, 0, .5);
    background: black;
    pointer-events: all;
    transform: translate(var(--x), var(--y)) rotate(var(--rot));
    transition: transform .8s cubic-bezier(0, 0.02, 0, 1);
  }
  
  .carousel-item .carousel-box {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .8s cubic-bezier(0, 0.02, 0, 1);
    opacity: var(--opacity);
    font-family: 'Orelo-sw-db', serif;
  }
  
  .carousel-item .carousel-box:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .5));
  }
  
  .carousel-item .title {
    position: absolute;
    z-index: 1;
    color: #fff;
    bottom: 20px;
    left: 20px;
    transition: opacity .8s cubic-bezier(0, 0.02, 0, 1);
    font-size: clamp(20px, 3vw, 30px);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 3);
  }
  
  .carousel-item .num {
    position: absolute;
    z-index: 1;
    color: #fff;
    top: 10px;
    left: 20px;
    transition: opacity .8s cubic-bezier(0, 0.02, 0, 1);
    font-size: clamp(20px, 10vw, 80px);
    text-shadow: 0 4px 6px rgba(0, 0, 0, 3);
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }

  .cursor {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    --size: 40px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .2);
    margin: calc(var(--size) * -0.5) 0 0 calc(var(--size) * -0.5);
    transition: transform .85s cubic-bezier(0, 0.02, 0, 1);
    display: none;
    pointer-events: none;
    
    @media (pointer: fine) {
      display: block;
    }
  }
  
  .cursor2 {
    --size: 2px;
    transition-duration: .7s;
  }

/* ---Last Section--------- */

.sec3{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: url('Assets/signup1.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    scroll-snap-align: start;
}

.background {
    width: 100%;
    height: 100vh;
    background: url('Assets/signup1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
}

.image-cropper {
    width: 65%;
    height: 470px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    margin-top: 20px;
}

.container .content {
    width: 48%;
    height: 100%;
    background: transparent;
    padding: 80px;
    color: #e4e4e4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content .logo img{
    height: 90px;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 2);
    margin-bottom: 20px;
}

.text-sci h2{
    font-size: 40px;
    line-height: 1;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 3);
}

.text-sci h2 span{
    font-size: 25px;
}

.text-sci p{
    font-size: 16px;
    margin: 20px 0;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 3);
}

.social-icons a i{
    font-size: 22px;
    color: #e4e4e4;
    margin-right: 10px;
    transition: .5s ease;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 3);
    opacity: 0.8;
}

.social-icons a:hover i{
    transform: scale(1.3);
    opacity: 1;
}


.container .logreg-box {
    width: calc(100% - 48%);
    height: 100%;
    position: relative;
}

.logreg-box .form-box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);;
    backdrop-filter: blur(1px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #e4e4e4;
}

.logreg-box .form-box.register{
    transform: translateX(0);
    transition: transform .6s ease;
    transition-delay: .6s;
}

.logreg-box.active .form-box.register{
    transform: translateX(560px);
    transition-delay: 0s;
}

.logreg-box .form-box.login{
    transform: translateX(560px);
    transition: transform .6s ease;
    transition-delay: 0s;
}

.logreg-box.active .form-box.login{
    transform: translateX(0);
    transition-delay: .6s;
}

.form-box h2{
    font-size: 32px;
    text-align: center;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 1);
}

.form-box .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #e4e4e4;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    padding-right: 28px;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: .5s ease;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 1);
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
    font-size: 14px;
}

.input-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}

.form-box .remember-forgot{
    font-size: 14.5px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    margin-right: 4px;
}

.remember-forgot a{
    color: #e4e4e4;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #c4103d;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: #e4e4e4;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn:hover{
    background: #f7134c;
    transform: scale(1.05);
}

.btn:active{
    background-color: #c4103d;
    transform: scale(0.98);
}

.form-box .login-register{
    font-size: 14.5px;
    text-align: center;
    font-weight: 500;
    margin-top: 25px;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 1);
}

.login-register p a{
    color: #e4e4e4;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 1);
}

.login-register p a:hover{
    text-decoration: underline;
}


/* ----RESPONSIVENESS--------- */

/* For screens 1024px and below */
@media (max-width: 1024px) {
    /* Nav bar */

    .nav_bar .logo img{
        height: 37px;
    }
    .nav_bar .nav_links .nav_list{
        gap: 0rem;
    }
    .nav_bar .buttons .signin{
        padding: 7px 23px;
        margin-right: 5px;
    }
    .nav_bar .buttons .signup{
        padding: 6px 20px;
        margin-left:2px;
    }


    .image-cropper {
        width: 85%;
        height: 500px;
    }
    .container .content {
        padding:30px;
    }

    /* -----sec1--- */

    .sec1 .left-item h1 {
        font-size: 3em; /* Larger font size for larger screens */
    }

    .sec1 .left-item a {
        font-size: 18px;
        padding: 15px 30px;
    }

    .sec1 .left-item p {
        font-size: clamp(1rem, 3vw, 1.5rem);
    }
}

/* For screens 768px and below */
@media (max-width: 768px) {

    .nav_bar .nav_links .nav_list{
        display: none;
    }
    .nav_bar .menu{
        display: block;
        cursor: pointer;
        margin-right: 40px;
    }
    /* Hero section */
    .hero_section .hero_content h1{
        font-size: 40px;
        margin-bottom: 7px;
    }
    .search_bar button{
        padding: 13px 30px;
    }

    /* Container */
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    .image-cropper {
        width: 100%;
        height: 100%;
    }
    .container .logreg-box{
        height: 60%;
        width: 100%;
    }
    .form-box{
        padding: 10px;
    }
    .container .content{
        height: calc(100% - 60%);
        width: 100%;
    }
    section{
        overflow-x: hidden;
    }
    .sec3{
        justify-content: flex-start;
        height: 100vh;
    }
    .content .logo img{
        height: 50px;
    }

    /* ------Sec1---------- */

    .sec1 {
        flex-direction: column-reverse; /* Align items horizontally on medium and larger screens */
    }

    .sec1 .left-item {
        width: 100%; /* Equal width with space between items */
        height: 470px;
    }

    .sec1 .right-item {
        display: none;
    }
    .sec1 .left-item h1 {
        font-size: 2.5em; 
        text-align: center;
    }
    .sec1 .left-item a {
        font-size: 18px; /* Larger font size for medium screens */
        padding: 15px 30px;
        align-self: center;
    }
    .sec1 .left-item p {
        font-size: clamp(1rem, 2.5vw, 1.4rem); 
        text-align: center;
    }
}

/* For screens 480px and below */
@media (max-width: 480px) {
    .text-sci h2 {
        font-size: 24px;
    }
    .btn {
        height: 35px;
        font-size: 12px;
    }

    /* Nav Bar */

    .nav_bar .logo{
        margin-left: 10px;
        display: flex;
        align-items: center;
    }
    .nav_bar .logo img{
        height: 60px;
    }
    .nav_bar .nav_links .nav_list{
        display: none;  
    }
    .nav_bar .menu{
        display: block;
        cursor: pointer;
        margin-right: 20px;
    }
    .nav_bar .buttons .signin{
        display: none;
    }
    .nav_bar .buttons .signup{
        display: none;
    }
}
